<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:id</span><span class="s2">=&quot;@+id/main&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.MainActivity&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;EditText</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/edTfirstnum&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;289dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;100dp&quot;</span>
        <span class="s1">android:autofillHints</span><span class="s2">=&quot;&quot;</span>
        <span class="s1">android:ems</span><span class="s2">=&quot;10&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;sans-serif-condensed-medium&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;number&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Please enter your first number.&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.131&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.232&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;HardcodedText,TextSizeCheck&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;EditText</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/edTsecondnumber&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;320dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;95dp&quot;</span>
        <span class="s1">android:ems</span><span class="s2">=&quot;10&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;sans-serif-condensed-medium&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;Please enter your second number.&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;number&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Please enter your second number.&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
        <span class="s1">android:visibility</span><span class="s2">=&quot;visible&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.868&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.421&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/txtSum&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;301dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;107dp&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;Answer&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.472&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.82&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnAdd&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;316dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;61dp&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;Press to find sum of numbers&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Press to find sum of numbers&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.495&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.603&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/txtName&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;241dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;71dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;84dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;sans-serif-condensed&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;text&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Unesu's Math App&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;24sp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.054&quot; </span><span class="s0">/&gt;</span>

<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>